<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://unpkg.com/@picocss/pico@latest/css/pico.min.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
    <section class="container">
        <form method="get" action="/apartment/search">

            <!-- Markup example 1: input is inside label -->
            <label for="price">
                Precio por noche
                <input type="number" id="price" name="price" placeholder="30">
            </label>



            <!-- Button -->
            <button type="submit">Submit</button>

        </form>
    </section>

    <section class="container">
        <h1 id="lista-apartamentos">Lista de apartamentos</h1>
        <% apartments.forEach(d=> { %>
            <a href="/apartment/<%= d._id %>">
                <article>
                    <header>
                        <%= d.title %>
                    </header>
                    <img style="width:200px" src="<%= d.photo %>" alt="">
                    <p>Superficie: <%= d.meters %> m<sup>2</sup></p>
                    <footer>
                        <%= d.price %> / por noche
                    </footer>
                </article>
            </a>
            <% }); %>
    </section>
</body>

</html>