<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://unpkg.com/@picocss/pico@latest/css/pico.min.css">
</head>

<body>
    <h1>Lista de apartamentos</h1>
    <% apartments.forEach(d=> { %>
        <a href="/apartment/<%= d._id %>">
            <article>
                <header>
                    <%= d.title %>
                </header>
                <img style="width:200px" src="<%= d.photo %>" alt="">
                <p>Superficie: <%= d.meters %>2</p>
                <footer>
                    <%= d.price %> / por noche
                </footer>
            </article>
        </a>
        <% }); %>

</body>

</html>